<div class="scheda-container">
  <div class="scheda-header">
    <h3 class="card-title">{{ 'game.card.title' | translate }}</h3>
    <div class="action-buttons">
      <button (click)="callAction('ambo')"
        [disabled]="isDeclaring || !isActionEnabled('ambo') || isActionCompleted('ambo')"
        [class.next-action]="isActionEnabled('ambo')" [class.completed]="isActionCompletedByMe('ambo')"
        [class.completed-other]="isActionCompleted('ambo') && !isActionCompletedByMe('ambo')" class="btn btn-primary">
        <span>{{ 'game.actions.ambo' | translate }}</span>
      </button>
      <button (click)="callAction('terna')"
        [disabled]="isDeclaring || !isActionEnabled('terna') || isActionCompleted('terna')"
        [class.next-action]="isActionEnabled('terna')" [class.completed]="isActionCompletedByMe('terna')"
        [class.completed-other]="isActionCompleted('terna') && !isActionCompletedByMe('terna')" class="btn btn-primary">
        <span>{{ 'game.actions.terna' | translate }}</span>
      </button>
      <button (click)="callAction('quaterna')"
        [disabled]="isDeclaring || !isActionEnabled('quaterna') || isActionCompleted('quaterna')"
        [class.next-action]="isActionEnabled('quaterna')" [class.completed]="isActionCompletedByMe('quaterna')"
        [class.completed-other]="isActionCompleted('quaterna') && !isActionCompletedByMe('quaterna')"
        class="btn btn-primary">
        <span>{{ 'game.actions.quaterna' | translate }}</span>
      </button>
      <button (click)="callAction('cinquina')"
        [disabled]="isDeclaring || !isActionEnabled('cinquina') || isActionCompleted('cinquina')"
        [class.next-action]="isActionEnabled('cinquina')" [class.completed]="isActionCompletedByMe('cinquina')"
        [class.completed-other]="isActionCompleted('cinquina') && !isActionCompletedByMe('cinquina')"
        class="btn btn-primary">
        <span>{{ 'game.actions.cinquina' | translate }}</span>
      </button>
      <button (click)="callAction('tombola')"
        [disabled]="isDeclaring || !isActionEnabled('tombola') || isActionCompleted('tombola')"
        [class.next-action]="isActionEnabled('tombola')" [class.completed]="isActionCompletedByMe('tombola')"
        [class.completed-other]="isActionCompleted('tombola') && !isActionCompletedByMe('tombola')" class="btn btn-primary">
        <span>{{ 'game.actions.tombola' | translate }}</span>
      </button>
    </div>
  </div>

  <div class="scheda">
    @for (cell of cardNumbers; track $index) {
    <button class="cell" (click)="extractedNumber(cell)" [class.extracted]="cell.isExtracted"
      [class.empty]="!cell.value">
      {{ cell.value || ''}}
    </button>
    }
  </div>
</div>