:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.error-container {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.error-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.error-description {
  margin-bottom: 2rem;
}
